/* 
**  Colors
*/

$white: #fff;
$black: #222;


/*
** Body
*/

$container-width: 1140px;
$body-bg-color: $white;

/*
** Typography
*/

$body-text-color: $black;
$body-font-family: 'Open Sans', sans-serif;
$body-font-size: 16px;


